##### SYSTEM

PUID=
PGID=
TZ=
USERDIR=
INTERNALDIR=
DATADIR=
DOCKERDIR=
SECRETSDIR=
SERVER_IP=
LOCAL_IPS=

# Rclone Google Drive sync
RCLONE_REMOTE_NAME=google-drive
RCLONE_REMOTE_PATH=homelab-configs
RCLONE_SYNC_INTERVAL_SECONDS=86400


##### DOMAIN

DOMAINNAME=
HOSTURL=
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONEID=
DUCKDNS_TOKEN=
CLOUDFLARE_IPS=

TRAEFIK_AUTH_BYPASS_KEY=

TM_USERNAME=
TM_GROUPNAME=
TM_PASSWORD=

GLUETUN_WIREGUARD_PRIVATE_KEY=
GLUETUN_WIREGUARD_ADDRESSES=

# GLUETUN_FASTESTVPN_OPENVPN_USERNAME=
# GLUETUN_FASTESTVPN_OPENVPN_PASSWORD=

TS_AUTH_KEY=

##### Nextcloud
MYSQL_HOST=
OVERWRITEPROTOCOL=
REDIS_HOST=

# For MariaDB
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

FRIGATE_RTSP_PASSWORD=
KITCHENOWL_JWT=

AIRTRAIL_DB_URL=
AIRTRAIL_DB_PASSWORD=
AIRTRAIL_DB_DATABASE_NAME=
AIRTRAIL_DB_USERNAME=

FACILMAP_DB_HOST=
FACILMAP_DB_NAME=
FACILMAP_DB_USER=
FACILMAP_DB_PASSWORD=
FACILMAP_ORS_TOKEN=
FACILMAP_MAPBOX_TOKEN=
FACILMAP_MAXMIND_USER_ID=
FACILMAP_MAXMIND_LICENSE_KEY=
FACILMAP_LIMA_LABS_TOKEN=

# IMMICH
IMMICH_VERSION=
IMMICH_UPLOAD_LOCATION=
IMMICH_DB_DATA_LOCATION=
IMMICH_DB_USERNAME=
IMMICH_DB_PASSWORD=
IMMICH_DB_DATABASE_NAME=

# AVEON
AVEON_FLIGHTAPI_API_KEY=
AVEON_REDIS_FLIGHT_API_ONE_WAY_TTL_MINUTES=
AVEON_REDIS_AIRPORT_DATA_TTL_MINUTES=
AVEON_REDIS_SEARCH_SESSION_TTL_MINUTES=
AVEON_SEARCH_MAX_SEARCH_COMBINATIONS=
AVEON_POSTGRES_DB=
AVEON_POSTGRES_USER=
AVEON_POSTGRES_PASSWORD=
AVEON_SEARCH_ANONYMOUS_MAX_SEARCH_COMBINATIONS=
AVEON_SEARCH_USER_MAX_SEARCH_COMBINATIONS=

# Watch-watchtower
# Required
WATCHTOWER_POSTGRES_PASSWORD=
WATCHTOWER_RABBITMQ_PASSWORD=
WATCHTOWER_MINIO_ROOT_PASSWORD=

# Optional
WATCHTOWER_COMPOSE_PROJECT_NAME=
WATCHTOWER_POSTGRES_DB=
WATCHTOWER_POSTGRES_USER=
WATCHTOWER_RABBITMQ_USER=
WATCHTOWER_MANAGEMENT_BIND_ADDRESS=
WATCHTOWER_RABBITMQ_MANAGEMENT_PORT=
WATCHTOWER_TZ=
WATCHTOWER_MINIO_ROOT_USER=
WATCHTOWER_MINIO_MEDIA_BUCKET=
WATCHTOWER_MINIO_IMAGE=
WATCHTOWER_IMAGE_TAG=
WATCHTOWER_FLARESOLVERR_IMAGE=
WATCHTOWER_DOTNET_ENVIRONMENT=
WATCHTOWER_ASPNETCORE_ENVIRONMENT=
WATCHTOWER_RABBITMQ_MANAGEMENT_URL=
WATCHTOWER_MINIO_CONSOLE_URL=
WATCHTOWER_MINIO_CONSOLE_PORT=

WATCHTOWER_IMAGE=
WATCHTOWER_POSTGRES_IMAGE=
WATCHTOWER_RABBITMQ_IMAGE=
WATCHTOWER_ALLOWED_HOSTS=
WATCHTOWER_HTTP_BIND_ADDRESS=
WATCHTOWER_HTTP_PORT=

# Bugsink
BUGSINK_DB_USER=bugsinkuser
BUGSINK_DB_PASSWORD=
BUGSINK_DB_NAME=bugsink
BUGSINK_SECRET_KEY=
BUGSINK_CREATE_SUPERUSER=
